<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
    	<!--指定别名-->
    	<typeAliases>
    	    <typeAlias type="com.ck.entity.Admin" alias="admin"/>
    	</typeAliases>
    	<!--指定映射文件-->
    	<mappers>
       		 <mapper resource="com/ck/mapper/AdminMapper.xml"/>
    	</mappers>
	</configuration>